ROMM_AUTH_SECRET_KEY= # Generate a key with `openssl rand -hex 32`
ROMM_DB_PASSWD=
# https://docs.romm.app/latest/getting-started/metadata-providers/#screenscraper
SCREENSCRAPER_PASSWORD=
SCREENSCRAPER_USER=